// Used font-family importation
@font-face {
  font-family: Product;
  src: url(../assets/fonts/productsans.ttf);
}

$break: 740px; // Mobile breakpoint
$blue: #2b547f; // Mostly used color in the site

html, body {
  font-family: "Product", Calibri, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

// NAVBAR

  ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    li {

      #bouton {
        color: white;
        background-color: $blue;
        padding: 7px;
        margin-right: 50px;
        font-size: 1.2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media screen and (max-width: $break) {
          display: none;
        }

      }

      a {
        text-decoration: none;
      }

    }

    @media screen and (max-width: $break) {
      padding: 0;
      justify-content: center;
    }
  }

  /* Advice from Google :
  Always set the map height explicitly to define the size of the div
 * element that contains the map. */
  #map {
    height: 100%;
  }

  // Mobile menu
  .bottom {
    display: none;

    @media screen and (max-width: $break) {
      width: 100%;
      display: block;
      position: fixed;
      bottom: 0;
      text-align: center;
      background-color: $blue;
      padding: 10px 0 10px 0;
      font-size: 1.3em;
      text-decoration: none;
      color: white;
    }

  }

// History Page
  #history {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $blue;
    color: white;

    .head {
      display: flex;
      align-items: center;
      flex-direction: column;

      a {
        align-self: flex-end;
        margin: 30px 30px 0px 30px;

        img {
          width: 20px;
          height: 20px
        }
      }

      h2 {
        font-weight: normal;
        font-size: 50px;
        margin: 0;
        padding-bottom: 20px;
        @media screen and (max-width: $break) {
          font-size: 25px;
        }
      }
    }

    #positions {
      width: 98%;
      overflow-y: scroll;
      height: 800px;
      &::-webkit-scrollbar {
        display: none;
      }

      p {
        display: inline-block;
        margin: 0;
        padding-bottom: 10px;
      }

      .date_heure {
        font-size: 35px;

        #date {
          font-weight: bold;
        }

      }

      #addr {
        font-size: 20px;
      }

      .latlong {
        #lat {
          margin-right: 10px;
        }
      }

      // Style for activation div
      #activation {
        text-align: center;
        margin-top: 30px;
        font-size: 25px;
        font-style: italic;
        display: block;
      }

    }

  }

}